<plugin name='ncs-event' version='1.1' grailsVersion='1.3.7 &gt; *'>
  <author>Aaron Zirbes and Aaron Timbo</author>
  <authorEmail>ajz@umn.edu</authorEmail>
  <title>Event Tracking</title>
  <description>\
Handle the tracking events of interest.
Events are anything that may be of interest to the study.  These often include
births, deaths, medical events (cancer, infarts, etc...)
</description>
  <documentation>http://grails.org/plugin/ncs-event</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
    <resource>edu.umn.ncs.EventOfInterest</resource>
    <resource>edu.umn.ncs.EventPickOne</resource>
    <resource>edu.umn.ncs.EventReport</resource>
    <resource>edu.umn.ncs.EventResult</resource>
    <resource>edu.umn.ncs.EventSource</resource>
    <resource>edu.umn.ncs.EventType</resource>
  </resources>
  <dependencies>
    <plugin name='ncsPeople' version='0.1 &gt; *' />
    <plugin name='ncsTracking' version='1.0 &gt; *' />
  </dependencies>
  <behavior />
</plugin>